<VirtualHost *:80>
    ServerName <DOMAIN>
    ServerAdmin webmaster@<MAILDOMAIN>
    Redirect / <TARGET>
    ErrorLog <HOMEDIR>/logs/error_log
    CustomLog <HOMEDIR>/logs/access_log vhost_combined
    CustomLog /var/log/httpd/access_log vhost_combined
##    SSLEngine On
##    SSLCertificateFile /etc/pki/tls/certs/<BAREDOMAIN>.pem
##    SSLCertificateKeyFile /etc/pki/tls/private/<BAREDOMAIN>.pem
##    SSLProtocol All -SSLv2 -SSLv3 -TLSv1 -TLSv1.1
##    SSLHonorCipherOrder On
##    SSLCipherSuite ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256
##    SSLOpenSSLConfCmd Curves X448:X25519:secp521r1:secp384r1:prime256v1
##    <IfModule mod_http2.c>
##        Protocols h2 http/1.1
##        SSLSessionTickets Off
##    </IfModule>
</VirtualHost>
